@import url('https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

.wrapper{
    height: 100%;
    width: 100%;
    /* background-color: gray; */
}

.container{
    height: 100%;
    width:100% ;
    /* background-color: yellowgreen; */
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.logo{
    height: 13vh;
    width: 100%;
    /* background-color: seagreen; */
    padding: 2vw;

}

.logo h2{
    text-align: center;
    color: rgb(0, 166, 255);
    font-family: "Playwrite NG Modern", cursive;
    line-height: 3.2vh;
    font-weight: 600;

}

.left{
    height: 80%;
    width: 50%;
    /* background-color: red; */
    background-image: url(img1.png);
    background-position: center;
    background-size: cover;

    
}

.right{
    height: 80%;
    width: 40%;
    /* background-color: blue;  */

}

.right h3{
    height:50px ;
    width: 100%;
    /* background-color: brown; */
    font-size: 25px;
    margin-top: 2vw;
    text-align: center;
}

form{
    height: 40%;
    width: 100%;
    /* background-color: lightgreen;  */
}

form div{
    padding: .8vw 2vw;
}

form input{
    padding: .7vh 1vw;
    width: 100%;
    border-radius: 50px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.right p{
    text-align: center;
    font-size: 1.2vw;
    margin: 1.7vw 5.5vw;
    padding: .8vw 0;
}

.right h1{
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}

.right h1 span{
    color:rgb(0, 157, 255);
}